extends ../layout

block content
  .page-header
    h2
      i.fa.fa-phone(style='color: #f00')
      | Send A Message
  .row
    .col-sm-6
      form(role='form', method='POST', enctype='multipart/form-data')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.control-label Number to text
          input.form-control(type='text', name='number', autofocus)
        .form-group
          label.control-label Message
          input.form-control(type='text', name='message')
        .form-group
          label.control-label Upload File
          input.form-control(type='file', name='file')
        button.btn.btn-default(type='submit')
          i.fa.fa-location-arrow
          | Send